<p class="contacts-description"> If you like my projects and want to work with me, you can write me:) </p> 
<ul class="contacts-list">
    {{#each this}}
        <li class="contacts-list_item">
            {{!-- <h2 class="contacts-list_title">{{social}}:</h2> --}}
            <a href={{link}} class="contacts-list_link">
                <img src={{img}} alt={{social}} width="30" class="contacts-list_img"/>
                <span class="contacts-list_title">{{social}}:</span> 
                {{title}}
            </a>
        </li>
    {{/each}}
</ul>