<p class="projects-text">You can see some my works here. Jush hover at picture and you can watch description of this site and links</p>
<ul class="projects-list">
    {{#each this}}
    <li id={{id}} class="projects-list_item">
        <img src={{image}} alt="project" class="projects-list_img" width="450"> 
        <div class="project">
            <p class="project_description">{{description}}</p>
            <a href={{link}} class="project_livepage">Go on site</a>
            <a href={{gitHub}} class="project_github">GitHub</a>
        </div> 
    </li>
    {{/each}}
</ul>