<p class="projects-text">There are a few of my projects here. <br>
Some of them were team projects, others were written by me. <br> 
You can see the live page and GitHub page of each one. Just follow links under projects images:)</p>
<ul class="projects-list">
    {{#each this}}
    <li id={{id}} class="projects-list_item">
        <img src={{image}} alt="project" class="projects-list_img" width="450"> 
        <div class="project ">
            <p class="project_description">{{description}}</p>
            <ul class="project_nav">
                <li> <a href={{link}} class="project_link"> Website </a> </li>
                <li> <a href={{gitHub}} class="project_link">GitHub</a></li>
            </ul>           
        </div> 
    </li>
    {{/each}}
</ul>